# Si el módulo de cabeceras está activo
<IfModule mod_headers.c>
    # Política de Seguridad de Contenidos (CSP)
    Header set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self' data:; font-src 'self'; connect-src 'self'; frame-ancestors 'none';"
    
    # Seguridad de Transporte Estricta (HSTS)
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    
    # Protección contra clickjacking
    Header always set X-Frame-Options "DENY"
    
    # Protección contra ataques XSS
    Header set X-XSS-Protection "1; mode=block"
    
    # Protección contra el sniffing de contenido
    Header set X-Content-Type-Options "nosniff"

    # Política de Permisos (antes Feature-Policy)
    Header set Permissions-Policy "geolocation=(), microphone=(), camera=()"
</IfModule>

# Si el módulo de reescritura está activo
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir a HTTPS si no está en localhost
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} !^localhost
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # No aplicar la redirección a index.php
    RewriteRule ^index\.php$ - [L]
    
    # Redirigir todas las solicitudes no existentes a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

# Si el módulo de expiración está activo
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 2 days"
</IfModule>

# Soporte para archivos .webp
AddType image/webp .webp

# Documentos de error personalizados
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
