/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/logomuni.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden; /* Evita el desbordamiento */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px); /* Ajusta el valor del desenfoque según sea necesario */
    z-index: -1; /* Envía el pseudo-elemento al fondo */
}

.login-container {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para ver el desenfoque */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-form {
    text-align: center;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    color: #0095ff; /* Color naranja */
}

.input-group {
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #0095ff; /* Color naranja */
    outline: none;
}

.input-group button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #0095ff; /* Color naranja */
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.input-group button:hover {
    background: #cc5200; /* Color naranja oscuro */
}

.error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 0.75rem;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.copy {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #888;
}

.copy p {
    margin: 0;
}

.copy p a {
    color: #ff6600; /* Color naranja */
    text-decoration: none;
}

.copy p a:hover {
    text-decoration: underline;
}
